<template>
    <h1>Soy el Catalogooo</h1>
    <CatalogView />
</template>
<script>
import CatalogView from '@/components/CatalogView.vue';


CatalogView
export default {
    components: {

        CatalogView
},
    name: 'ErrorVue',
    props: {
        msg: String,
    }
}
</script>
<style scoped>
</style>