<template>
    <ContactUs />
</template>
<script>

import ContactUs from '@/components/ContactUs.vue';

export default {
    name: 'ContactUs',
    components: {

        ContactUs
    }
}
</script>
<style scoped>
</style>