<template>
    <ProductCardVue />
    <SumaryVue />
    <MarcasVue />

</template>
<script>

import MarcasVue from '@/components/MarcasVue.vue';
import SumaryVue from '@/components/SumaryVue.vue';
import ProductCardVue from '@/components/ProductCardVue.vue';

export default {
    name: 'HomeVue',
    components: {
        SumaryVue,
        MarcasVue,
        ProductCardVue
    }
}
</script>
<style scoped>
</style>