<template>
    <CatalogView />
</template>
<script>

import CatalogView from '@/components/CatalogView.vue';


export default {
    name: 'ListVue',
    components: {
        CatalogView,
    }
}
</script>
<style scoped>
</style>