<template>
    <h1>Soy el home</h1>

    <ViewProduct />
</template>
<script>

import ViewProduct from '@/components/ViewProduct.vue';

export default {
    name: 'ProductAbout',
    components: {

        ViewProduct
    }
}
</script>
<style scoped>
</style>