<template>
    <div class="about">
        <div :class="index%2 == 0 ? `about__contenedor about__contenedor--blanco` : `about__contenedor`" v-for="(cont, index) in contenido" :key="cont.titulo">
            <img :src="cont.img" alt="" class="about__contenedor__img">
            <div class="about__contenedor__texto">
                <h2 :class="index%2 == 0 ? `about__contenedor__texto__titulo about__contenedor__texto__titulo--blanco`: `about__contenedor__texto__titulo` ">
                   {{index}} {{cont.titulo}}
                    
                </h2>
                <p :class="index%2 == 0 ? `about__contenedor__texto__contenido about__contenedor__texto__contenido--blanco` : `about__contenedor__texto__contenido`">
                    {{cont.desc}}
                </p>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'AboutVue',
    props: {
        msg: String,
    },
    data() {
        return {
            contenido:[ 
            {
                titulo:"Lorem, ipsum dolor sit amet consectetur1 ",
                desc:"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio fuga unde reiciendis a earum, ut, qui ab veniam, iusto blanditiis nesciunt modi! Maxime corrupti labore minus, vel quibusdam cupiditate?",
                img:"https://www.codigosysignos.com/wp-content/uploads/2023/09/100920231694325506.jpeg"
            },
            {
                titulo:"Lorem, ipsum dolor sit amet consectetur 2",
                desc:"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio fuga unde reiciendis a earum, ut, qui ab veniam, iusto blanditiis nesciunt modi! Maxime corrupti labore minus, vel quibusdam cupiditate?",
                img:"https://www.codigosysignos.com/wp-content/uploads/2023/09/100920231694325506.jpeg"
            },
            {
                titulo:"Lorem, ipsum dolor sit amet consectetur 3",
                desc:"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio fuga unde reiciendis a earum, ut, qui ab veniam, iusto blanditiis nesciunt modi! Maxime corrupti labore minus, vel quibusdam cupiditate?",
                img:"https://www.codigosysignos.com/wp-content/uploads/2023/09/100920231694325506.jpeg"
            },
            {
                titulo:"Lorem, ipsum dolor sit amet consectetur 4",
                desc:"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio fuga unde reiciendis a earum, ut, qui ab veniam, iusto blanditiis nesciunt modi! Maxime corrupti labore minus, vel quibusdam cupiditate?",
                img:"https://www.codigosysignos.com/wp-content/uploads/2023/09/100920231694325506.jpeg"
            },
            {
                titulo:"Lorem, ipsum dolor sit amet consectetur 5",
                desc:"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio fuga unde reiciendis a earum, ut, qui ab veniam, iusto blanditiis nesciunt modi! Maxime corrupti labore minus, vel quibusdam cupiditate?",
                img:"https://www.codigosysignos.com/wp-content/uploads/2023/09/100920231694325506.jpeg"
            },
            ]
        }
    },
}
</script>
<style scoped>
.about__contenedor{
    display: flex;

    }
.about__contenedor__img{
        width: 500px;
}
.about__contenedor__texto__titulo{
        color: black;
}
.about__contenedor__texto__titulo--blanco{
        color: white;
    }
.about__contenedor--blanco{
        background-color: black;
        flex-direction: row-reverse;
    }
.about__contenedor__texto__contenido{
        color: black;
    } 
.about__contenedor__texto__contenido--blanco{
        color: white;
    }
</style>