
<template>
    <div class="contenedor-Uno">
        <div class=" pc-estrellas">
            <div class="img-Compu" >  
                <img class="imagen-pc" :src="prod.image">
            </div>

            <div class="estrellas">
                <div class="estrellas__contenedor">
                    <img src="../assets/iconos/Star 8.png">
                    <img src="../assets/iconos/Star 8.png">
                    <img src="../assets/iconos/Star 8.png">
                    <img src="../assets/iconos/Star 8.png">
                    <img src="../assets/iconos/Star 10.png"> 
                </div> 
                <p class="reviews">Reviews (4)</p>
            </div>


        </div>

        <div class="textos-y-boton">

        <p class=" textos texto__marca">SKU D5515AI</p>
        <p class="textos texto__titulo">{{prod.title}}</p>
        
        <div class="textos_precios">
            <p class=" texto__gris"> <del >{{prod.price}}</del>&nbsp;&nbsp;&nbsp;</p>  
            <p class=" texto__negro"> {{prod.price}} </p>
        </div>


        <div>
            <button class="cart__button" ><img src='..\assets\iconos\Group 65.png'/> Add To Cart</button>
        </div>

        </div>

        <div class="tabla">
        <table class="tablaUno">
            <tr>
                <td>CPU</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Featured</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>I/O Ports</td>
                <td>N/A</td>
            </tr>
        </table>
        </div>

        <div class="iconos-stock">
            <img class="stock" src="../assets/iconos/In Stock.png" alt="">

            <div class="iconos">
                <img class="espacio" src="../assets/iconos/Group 107.png">
                <img class="espacio" src="../assets/iconos/Group 107 (1).png">
                <img class="espacio" src= "../assets/iconos/Group 106.png " >
            </div>

        </div>

    </div>

</template>

<style setup>

.contenedor-Uno{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    background-color: #fff;
    max-width: 1166px;
    min-height:330px;
    margin: 25px;
    padding: 5px;
    transition: 0.3s;

}
.contenedor-Uno:hover{
    transform: scale(1.05, 1.05);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.14);
}

.pc-estrellas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
}

.estrellas{
    display: flex;
    flex-direction: row wrap;
    align-items: center; 
}

.estrellas__contenedor{
    margin: 13px;
}
.reviews{
    display: flex;
    width: 70px;
    height: 14px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--Color---5, #A2A6B0);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
}

.img-Compu{
    float:left;
    background-color: #fff;
    align-items: left;
    height: auto;
    width: auto;

}

.imagen-pc{
    float: left;
    padding: 5px;
    max-width: 220px;
    max-height:220px;
}

.textos-y-boton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 446px;
    min-height: 56px;
    padding: 5px;
}

/**Estilo tabla**/

.tabla{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 5px;
}

.tablaUno{

    background-color: white;
    border-collapse: collapse;
}

tr:nth-child(even){/**se puede usar odd**/
    background-color: #f2f2f2;
}

td{
    border: 1px solid #ddd;
    padding: 8px;
    max-width: 350px;
}

/** iconos y stock**/

.iconos-stock{
    background-color:white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
.stock{
    display: flex;
    width: 71px;
    height: 26px;
    padding: 7px 5px 7px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.iconos{
    display: flex;
    width: 30px;
    height: 30px;
}

.espacio{
    margin-left: 3px;
    margin-right: 3px;
}

/** Estilo boton**/

.cart__button{
        display: flex;
        padding: 8px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        border: 2px solid var(--Color---3, #0156FF);
        width: 160px;
        height: 37px;
        color: var(--Color---3, #0156FF);
        font-family:  'Arial Narrow Bold', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}

/**EStilo textos**/

.texto__gris{
    color: var(--Color---10, #666);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: inline;
    width: auto;
    height: auto;
}

.texto__negro{
    display: flex;
    width: auto;
    height: auto;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline;
    
}

.texto__marca{
    color: #000;
    text-align: left;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    width: auto;
    height: auto;
    padding-left: 15px;
}

.textos{ 

    background-color: #FFF;
    margin: 0px;
    padding: 15px;
    text-align: left;
    display: flex;
    width: auto;
    height: auto;
    min-width: 230;
    min-height: 160;
}

.textos_precios{

    display: flex;
    flex-direction: row wrap;
    align-items: center;

}

</style>

<script>
    export default {
    name: 'CatalogListView',
    props: {
    msg: String,
    prod: Object
    }
}

</script>