
<template>
    <h1>Soy catalog view</h1>
    <div  v-for="product in productos" :key="product.name"> 
        <CatalogListView :prod = "product"/>
    </div>
    

</template>

<style setup>

</style>

<script>
    import axios from 'axios';
    import CatalogListView from './CatalogListView.vue'
    export default {
    name: 'CatalogView',
    components: {
        CatalogListView       
    },
    data() {
        return {
    productos: []            
        }
    },
    props: {
    msg: String,

    },
    methods: {
        getProducts() {
            axios.get(`https://fakestoreapi.com/products`).then(response => {
                this.productos = response.data;
            }).catch((error) => {
                console.log(error);
            });
        }
    },

    mounted() {
        this.getProducts();
    }


}

</script>