<template>
        

        <form class="margen" action="">

                <h1 class="encabezado__dentro">Contact Us</h1>
                <p class="parrafo">
                    We love hearing from you, our Shop customers.<br/>
                    Please contact us and we will make sure to get back to you as soon as we possibly can.
                </p>
            
            <div class="contenedorUNO">
                <div class="estilo_clase ." >
                    <lavel class="titulo__estilo " >Your Name *</lavel>
                    <input class="input__dentro" placeholder="Your Name "/>
                </div>
                

                <div class="estilo_clase">
                    <lavel class="titulo__estilo">Your Phone Number</lavel>
                    <input class="input__dentro" placeholder="Your Phone Number "/>
                </div>
                

                <div class="estilo_clase">
                    <label class="titulo__estilo">Your Email *</label>
                    <input class="input__dentro" type="email" placeholder="Your Email "/>
                </div>
                
            </div>    

            <div class="estilo_clase">
                <label  class="titulo__estilo" >What’s on your mind? *</label>
                <textarea class="comentario" placeholder="Jot us a note and we’ll get back to you as quickly as possible"></textarea>
                <button class="estilo_boton">
                    <div class="texto"> Submit</div> 
                </button>
                    
            </div>    
        </form>
    

    
</template>

<style setup>

/*Estilos generales */



.margen{
    margin: 25px;
    padding: 10px;
}

.input__dentro{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 432px;
    height: 50px;
    color:  #A2A6B0;
    font-size: 14px;
    font-style: normal;
    align-items: start;
    font-weight: 300;
    line-height: 20px;
    padding-left:17.5px ;


}

.estilo_clase{
    display: flex;
    flex-direction:column;
    text-align: left;
    width:auto;
    height:auto;
    margin: 10px;
}
.titulo__estilo{
    margin-bottom: 10px;
    display: flex;
    color: var(--Color---7, #000);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.3px;
}

/**Estilo formulario**/
form{
    display: grid;
    width: 935px;
    height: auto;
}

/**Estilo encabezado**/

.encabezado__dentro{
    color: #000;
    justify-content: center;
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 12px;
}

/***Estilo parrafo*/
.parrafo{
    display: flex;
    width: 921px;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex-shrink: 0;
    color:  #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; 
    margin: 12px;
}

/**Estilo contenedor**/
.contenedorUNO{
    width: 925px;
    height: 236px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Estilo comentario */
.comentario{

    width: 925px;
    height: 236px;
    border-radius: 4px;
    border: 1px solid  #A2A6B0;
    background-color: #FFF;
}
.comentario::placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:  #A2A6B0;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; 
    padding: 10px;
}

/**Estilo boton**/
.estilo_boton{
    width: 151px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background:#0156FF;
    margin-top: 16px;
}
.texto{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

</style>


<script>
    export default {
    name: 'ContactUs',
    props: {
    msg: String,
    prod: Object
    }
}
</script>