<template>
  <div class="conteiner">
    <div>
      <h1 class="h1">Sign Up To Our Newsletter.</h1>
    </div>
    <div class="flex-container">
      <div>
        <h3 class="h3">Be the first to hear about the latest offers.</h3>
      </div>
      <div><br /><br /><br /></div>
      <div>
        <input class="E-mail" type="text" placeholder=" YourEmail " />
      </div>
      <div>
        <button class="button" onclick="">Subscribe</button>
      </div>
    </div>
    <br /><br />
    <div class="flex-container1">
      <div class="p1">
        <span class="text-grey">Information</span><br /><br />
        <p>
          About Us <br />
          About Zip <br />
          Privacy Policy <br />
          Search <br />
          Terms <br />
          Orders and Returns <br />
          Contact Us <br />
          Advanced Search <br />
          Newsletter Subscription <br />
        </p>
      </div>
      <div class="p2">
        <span class="text-grey">PC Parts</span><br /><br />
        <p>
          CPUS <br />
          Add On Cards <br />
          Hard Drives (Internal) <br />
          Graphic Cards <br />
          Keyboards / Mice <br />
          Cases / Power Supplies / Cooling <br />
          RAM (Memory) <br />
          Software <br />
          Speakers / Headsets <br />
          Motherboards <br />
        </p>
      </div>
      <div class="p3">
        <span class="text-grey">Desktop PCs</span><br /><br />
        <p>
          Custom PCs <br />
          Servers <br />
          MSI All-In-One PCs <br />
          HP/Compaq PCs <br />
          ASUS PCs <br />
          Tecs PCs <br />
        </p>
      </div>
      <div class="p4">
        <span class="text-grey">Laptops</span><br /><br />
        <p>
          Evryday Use Notebooks <br />
          MSI Workstation Series <br />
          MSI Prestige Series <br />
          Tablets and Pads <br />
          Netbooks <br />
          Infinity Gaming Notebooks <br />
        </p>
      </div>
      <div class="p5">
        <span class="text-grey">Address</span><br /><br />
        <p>
          Address: 1234 Street Adress City Address, 1234 <br />
          Phones: <span class="text-blue">(00) 1234 5678</span><br />
          We are open: Monday-Thursday: 9:00 AM - 5:30 PM <br />
          Friday: 9:00 AM - 6:00 PM <br />
          Saturday: 11:00 AM - 5:00 PM <br />
          E-mail: <span class="text-blue">shop@email.com</span><br />
        </p>
      </div>
    </div>
    <div class="img_redes">
      <div class="img_redes_texto">
            <img src="../assets/iconos/ant-design_facebook-filled.png" alt="" />
            <img
              src="../assets/iconos/ant-design_instagram-filled.png"
              alt=""
            />
          </div>
          <div class="img_redes_texto">
            <img
              src="../assets/iconos/payment-methods/light/paypal.png"
              alt=""
            />
            <img
              src="../assets/iconos/payment-methods-1/light/visa.png"
              alt=""
            />
            <img
              src="../assets/iconos/payment-methods-2/light/maestro.png"
              alt=""
            />
            <img
              src="../assets/iconos/payment-methods-3/light/discover.png"
              alt=""
            />
            <img
              src="../assets/iconos/payment-methods-4/light/american-express.png"
              alt=""
            />
          </div>
          <div class="img_redes_texto">
            <p>Copyright © 2020 Shop Pty. Ltd.</p>
          </div>
    </div>
  </div>
</template>

<style>
.conteiner{
  background-color: #020203;
  padding: 0px 100px;
}
.h1 {
  color: #ffffff;
  width: 506px;
  height: 50px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 38px;
  font-weight: 500;
  line-height: 50.35px;
  text-align: left;
  padding: 0px;
  margin: 0px;
}
.h3 {
  color: #ffffff;
  width: 327px;
  height: 21px;
  top: 106px;
  left: 261px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 21.2px;
  text-align: left;
}
.E-mail {
  width: 391px;
  height: 50px;
  top: 72px;
  left: 1094px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  background: #000000;
  border: 2px solid #ffffff;
  color: #000000;
}
.button {
  width: 151px;
  height: 50px;
  top: 72px;
  left: 1508px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  background: blue;
  color: #ffffff;
  border-radius: 15px;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
.flex-container1 {
  display: flex;
  justify-content: space-around;
}
.p1 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  width: 168px;
  height: 233px;
  top: 172px;
  left: 261px;
  gap: 0px;
  opacity: 0px;
}
.p2 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  width: 230px;
  height: 255px;
  top: 172px;
  left: 507px;
  gap: 0px;
  opacity: 0px;
}
.p3 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  width: 136px;
  height: 167px;
  top: 169px;
  left: 815px;
  gap: 0px;
  opacity: 0px;
}
.p4 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  width: 188px;
  height: 167px;
  top: 169px;
  left: 1029px;
  gap: 0px;
  opacity: 0px;
}
.p5 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  width: 301px;
  height: 185px;
  top: 168px;
  left: 1295px;
  gap: 0px;
  opacity: 0px;
}
.text-blue {
  color: #01a4ff;
}
.text-grey {
  color: grey;
}
.img_redes_texto {
  color: #ffffff;
  margin: 15px;
}
.img_redes {
  display: flex;
  justify-content:space-between;
}
</style>
