
<template>
  <div class="garantia"> 
      <WarantyVue v-for="product in productos" :key="product.titulo" :prod="product"/>
  </div>

</template>

<style scoped>
/* Add your styles here */
.garantia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
</style>

<script>
import WarantyVue from "./WarantyVue.vue";
import logo from "./../assets/garantias/1.svg"
import logo2 from "./../assets/garantias/2.svg"
import logo3 from "./../assets/garantias/3.svg"
export default {
  name: 'ComponenteVue',  
  components: {
    WarantyVue
  },
  data() {
      return {
          productos: [
              {
                  "imagen": logo,
                  "titulo": "Product Support",
                  "texto": "Up to 3 years on-site warranty available for your peace of mind."
              },
              {
                  "imagen": logo2,
                  "titulo": "Personal Account",
                  "texto": "With big discounts, free delivery and a dedicated support specialist."
              },
              {
                  "imagen": logo3,
                  "titulo": "Amazing Savings",
                  "texto": "Up to 70% off new Products, you can be sure of the best price."
              }
          ]
      }
  },
  props: {
      msg: String
  }
}
</script>
