<template>
    <div class='contenedor'>
        <img class='contenedor__imagen' src="../assets/marcas/image 33.png" alt=""/>
        <img class='contenedor__imagen' src="../assets/marcas/Frame 34.png" alt=""/>
        <img class='contenedor__imagen' src="../assets/marcas/Frame 27.png" alt=""/>
        <img class='contenedor__imagen' src="../assets/marcas/Frame 26.png" alt=""/>
        <img class='contenedor__imagen' src="../assets/marcas/Frame 25.png" alt=""/>
        <img class='contenedor__imagen' src="../assets/marcas/Frame 24.png" alt=""/>
        <img class='contenedor__imagen' src="../assets/marcas/Frame 23.png" alt=""/>
    </div>

</template>


<script>
    export default {
    name: 'MarcasVue',
    props: {
    msg: String,
    }
}

</script>


<style scoped>
    .contenedor{
        display: block;
    }
    .contenedor__imagen{
        display: inline;
        width: 152px;
        height: 79px;
        padding: 18px 25px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


</style>