<template>
    <nav class="horizontal-menu">
        <img src="../assets/iconos/Vector 24.png" alt="Logo" class="logo">
        <a href="#" class="active">Laptops</a>
        <a href="#">Desktop PCs</a>
        <a href="#">Networlding Devices</a>
        <a href="#">Printers & Scanners</a>
        <a href="#">PC Parts</a>
        <a href="#">All Other Products</a>
        <a href="#">Repairs</a>
        <button>Our Deals</button>
    </nav>
</template>

<style setup>

.horizontal-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.horizontal-menu a {
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
}

.horizontal-menu a:hover {
    background-color: #ddd;
}

.horizontal-menu a.active {
    background-color: var(--Color---3, #0156FF);
    color: white;
}

.horizontal-menu button {
    background-color: white;
    color:var(--Color---3, #0156FF);
    padding: 12px;
    font-size: 14px;
    border-radius: 50px;
    border-color: var(--Color---3, #0156FF);
    cursor: pointer;
    transition: background-color 0.3s;
}

.horizontal-menu button:hover {
    background-color:var(--Color---3, #0156FF);
}
.logo{
    height: 50px;
    width: 50px;
}

</style>

<script>
export default {
name: 'MenuVue',
props: {
msg: String,
prod: Object
}
}
</script>