<template>

 
    <div class="productcard">

        <div class="productcard__componente">
            <div class="productcard__img1"> 
              <img src="./../assets/imagenes-pc/Check Availibality.png " alt=""> 
            </div>
            <div class="productcard__img2">   
              <img src="./../assets/imagenes-pc/image 29.jpg  " alt="">    
            </div>

            <div class="pc_y_estrellas">
            
            
            <div class="conjunto_estrella">
                <img src="..\assets\iconos\Star 8.png"/>
                <img src="..\assets\iconos\Star 8.png"/>
                <img src="..\assets\iconos\Star 8.png"/>
                <img src="..\assets\iconos\Star 8.png"/>
                <img src="..\assets\iconos\Star 10.png"/>
                <p>Reviews (4)</p>
            </div>
            <div class="productcard__texto-a1"> 
              EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...   
            </div>
            <div class="productcard__texto-a2">  
              $499.00  
            </div>
            <div class="productcard__texto-a3">  
              $499.00 
            </div>

          </div>

        </div>
         
    
    </div>
    
       
    
    
    
    
    
       
        <h1>desde otro componente</h1>
    </template>
    
    <script>

export default {
    name: 'ProductCardVue',
    props: {
    msg: String,
    }
}
    
    </script>
    
    
    <style>
    
    .productcard{
        width: 235px;
         height: 346px;
        flex-shrink: 0;
        background-color : #F5F7FF;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: red;
      }
          
.productcard__componente{

        background-color:blue;
      }
      .productcard__img1{
        width: 119px;
         height:26 px;
         display: flex;
         justify-content: center;
     
      }
      .productcard__img2{
        width: 130 px;
         height: 130 px;
         display: flex;
         justify-content: center;
        
      }
      .productcard__texto-a1{
        width: 100 px;
         height: 65 px;
         display: flex;
         justify-content: center;
         font-size: 15px;
         color: black;
         font-weight: bold; 
      }
      .productcard__texto-a2{
        width: 120 px;
         height: 45 px;
         display: flex;
         justify-content: flex-start;
         text-decoration: line-through;
         font-size: 18px ;
      }
      .productcard__texto-a3{
        width: 140 px;
         height: 55 px;
         display: flex;
         justify-content: flex-start;
        color: black;
        font-weight: bold; 
        font-size: 20px;
      }
  

    </style>