<template>

 
<div class="review">
    <div class="review__texto-a">
        <div class="review__texto-a__texto-a1">  "</div>
        <div class="review__texto-a__texto-a2"> My first order arrived today in perfect condition.  From the time I sent a question about the item to making the purchase, to the shipping and now the delivery, your company, Tecs, has stayed in touch.  Such great service.  I look forward to shopping on your site in the future and would highly recommend it.</div>
    </div>
      <div class="review__texo-b"> - Tama Brown</div>z
        <div class="review__boton">
          <button class="review__boton__boton-d"> Leave Us A Review </button>  
          <button class="review__bonton__boton-i"> . . . </button>  



</div>
</div>
   





   
    <h1>desde otro componente</h1>
</template>

<script>

</script>


<style>

.review{
    width: 1160px;
     height: 310px;
    flex-shrink: 0;
    background-color : #F5F7FF;
       
   }
      
   
   .review__texto-a{

        display: flex;}

        .review__boton{

     display: flex;
     justify-content: space-between;
 
       }


  .review__texo-b {

    color: #000;
     text-align: right;
    font-family: Poppins;
    font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-align: right ;

}
 .review__texto-a__texto-a1{

    display: flex;
    width: 46px;
    height: 69px;
   flex-direction: column;
   justify-content: center;
    flex-shrink: 0;
      
    color: #000;
    font-family: Poppins;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.review__texto-a__texto-a2{

    display: flex;
    width: 850px;
    height: 103.5px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #000;
    font-family: Poppins;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}



.review__boton__boton-d{
    color: var(--Color---3, #0156FF);
     text-align: center;
     font-family: Poppins;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   border-radius: 50px;
    border: 2px solid var(--Color---3, #0156FF);
  
}

.review__boton__boton-i{
    width: 78px;
   height: 12px;
  flex-shrink: 0;
 
  
}


</style>