<template>
    <button  @click="sumary[0] = !sumary[0]">{{ sumary[0] ? "V" : "A" }}</button>
    <p v-if="sumary[0]">contenido</p>
    <button  @click="sumary[1] = !sumary[1]">{{ sumary[1] ? "V" : "A" }}</button>
    <p v-if="sumary[1]">contenido</p>
    <button  @click="sumary[2] = !sumary[2]">{{ sumary[2] ? "V" : "A" }}</button>
    <p v-if="sumary[2]">contenido</p>
    <button  @click="sumary[3] = !sumary[3]">{{ sumary[3] ? "V" : "A" }}</button>
    <p v-if="sumary[3]">contenido</p>
</template>
<script>
export default {
    name: 'SumaryVue',
    data() {
    return {
        sumary: [true, true, true, true ]
    }
}
}
</script>
<style scoped>
</style>