<template>
<div class="descripcion">
    <div class="descripcion__ruta">
        Home  Laptops <span class="text-grey">MSI WS Series</span>   
    </div>
    <h2 class="descripcion__titulo">MSI MPG Trident 3</h2>
    <h4 class="descripcion__titulo__review"><span class="text-blue">Be the first to review this product</span></h4>
    <p class="descripcion__titulo__review__datos">MSI MPG Trident 3 10SC-005AU Intel i7 10700F, 2060 SUPER, 16GB RAM, 512GB SSD, 2TB HDD, Windows 10 Home, Gaming Keyboard and Mouse 3 Years Warranty Gaming Desktop</p>
    <div>
    <img src="../assets/iconos/Group 5.png" alt="">
    <img src="../assets/iconos/Ellipse 51.png" alt="">
    <img src="../assets/iconos/Ellipse 52.png" alt="">
    <p class="descripcion__titulo__review__datos__consultas">Have a Question?  Contact Us</p>
</div>
</div>
<div class="imagen">
    <img src="../assets/iconos/Group 106.png" alt="">
    <img src="../assets/iconos/Group 107 (1).png" alt="">
    <img src="../assets/iconos/Group 107.png" alt="">
    <img src="../assets/imagenes-pc/image 9.png" alt="">
    <img src="../assets/iconos/primary 1.png" alt="">
    <p class="descripcion__final">own it now, up to 6 months interest free learn more</p>
    <div class="imagen__final">
        <img src="../assets/iconos/Component 1.png" alt="">    
    </div>
</div>
  </template>
  
  <style>

  </style>