<template>
    <div class="padre">
        <div class="Andres">
            <div class="Andres__logo">
                <img :src="prod.imagen" alt="" class="Andres__logo__img">
            </div>
            <h3  class="Andres__titulo" >{{ prod.titulo }}</h3>
            <p class="Andres__texto" >{{prod.texto}} </p>
        </div>
    </div>
</template>

<style scoped>

.padre{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 265px;
    height: 166px;
}

.Andres{
    display: flex;
    display: inline-flex;
flex-direction: column;
align-items: center;
}

.Andres__logo{
    width: 65px;
height: 65px;
flex-shrink: 0;
background-color: blue;
border-radius: 50%;
display: flex;
align-content: center;
align-items: center;
justify-content: center;
}

.Andres__logo__img{
    width: 40px;
height: 40px;
flex-shrink: 0;
align-content: center;
}

.Andres__titulo{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 132.5%; 
}

.Andres__texto{
    color: #050505;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
}
</style>

<script>
export default{
    name: "WarantyVue",
    props: {
        prod:Object
    }
}
</script>