<template>
  <MenuVue />
  <router-view/> 
  <ContactUs/>
  <FooterVue />
</template>

<script>

import ContactUs from './components/ContactUs.vue';
import MenuVue from './components/MenuVue.vue';
import FooterVue from './components/FooterVue.vue';

export default {
  name: 'App',
  components: {

    ContactUs,
    MenuVue,
    FooterVue
    
  }
}
</script>

 
